
body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: gray;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
}

img {
  width: 100%;
}

#profile-pic img {
  width: 12%;
  border-radius: 60%;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.inner {
  padding: 60px 20px;
  position: absolute;
  z-index: 1;
  -webkit-transition: 0.1s;
  -ms-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  align: center;
}

.col-lg-4 {
  padding: 0 !important;
}

.wrapper:hover img {
  opacity: 0.2;
}

.blog:hover .blog-inner {
  top: 0;
}

.word:hover .word-inner {
  top: 0;
}

.recipe:hover .recipe-inner {
  top: 0;
}

.tower:hover .tower-inner {
  top: 0;
}

.children:hover .children-inner {
  top: 0;
}

.flashcard:hover .flashcard-inner {
  top: 0;
  left: 10%;
}

.block {
  opacity: .7;
  display: block;
  padding: 10px;
}

.nav-pills {
  font-size: 1.7em;
  background-color: white;
  opacity: .8;
}

.btn-default {
  background-color: none;
  border-color: black;
  font-size: 1.5em;
}

.intro {
  background: url("https://images.unsplash.com/photo-1504198266287-1659872e6590?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdc5b96cfce7ed1710409aaee2cd22c1&auto=format&fit=crop&w=2550&q=80");
  background-size: cover;
  height: 800px;
  margin-top: 0 auto;
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    display: block;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

#intro a {
  color: black;
}

#portfolio, #about {
  margin-top: 3em;
}

#profile-pic {
  text-align: center;
}

#about {
  margin: 100px 0;
}

#portfolio-intro {
  height: 400px;
  position: relative;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}


#portfolio-text h2 {
  font-size: 6em;
}

#intro-text {
  padding: 10 20%;
  font-size: 1.5em;
  text-align: justify;
}
